

h2 {
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 50px;
}

h3 {
  padding-top: 200px;
}

h4 {
  font-family: 'Open Sans Condensed', sans-serif;
}

header {
  text-align: center;
}

img {
  width: 700px;
  object-fit: cover;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

section {
  margin-top: 1200px;
  text-align: center;
}

.background {
  background-image: url("https://s.abcnews.com/images/Sports/WireAP_0692e035b79440cdad96070d3c8294ba_16x9_992.jpg");
  background-repeat: no-repeat;
  background-position-y: 150px, center;
  background-size: 100%;
}

@media screen and (max-width: 500px) {
  .background {
    background-size: contain;
    background-position-y: 150px center;
    max-width: 100%;
  }
  h3 {
    padding-top: 50px;
  }
  h2 {
    font-size: 40px;
  }
  img {
    align-items: center;
    max-width: fit-content;
  }
  section {
    margin-top: 300px;
  }
}

