*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
}

h2 {
  font-size: 50px;
  text-transform: uppercase;
}

img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  box-sizing: border-box;
}

#background {
  background-repeat: no-repeat;
  background-position-y: 150px, center;
  border-radius: 0;
  height: 60vh;
  width: 100%;
}

.main {
  position: relative;
  top: 50%;
}

#team1{
  width: 500px;
  height: 500px;
  background-color: aqua;
}

@media screen and (max-width: 500px) {
  .background {
    background-size: contain;
    background-position-y: 150px center;
    max-width: 100%;
  }
  h3 {
    padding-top: 50px;
  }
  h2 {
    font-size: 40px;
  }
  img {
    align-items: center;
    max-width: fit-content;
  }
  section {
    margin-top: 300px;
  }
}

