.background {
  background-image: url("https://s.abcnews.com/images/Sports/WireAP_0692e035b79440cdad96070d3c8294ba_16x9_992.jpg");
  background-repeat: no-repeat;
  background-position-y: 75px, center;
  background-size: 100%;
}

h2 {
  text-align: center;
}

header {
  text-align: center;
}

section {
  margin-top: 700px;
  text-align: center;
}
